{% extends 'baseuser.html' %}
{% load static %}
{% block content %}

<div class="page-hero bg-secondary text-white" id="banner">
    <div class="bubbles d-none d-md-block">
            
            <!-- 				bubbles -->
            <div class="bubble bubble-1 rotate-bubble bg-warning"></div>
            <div class="bubble bubble-2 bubble-bottom-right bg-danger rotate-bubble"></div>
            <div class="bubble bubble-3 bubble-top-right bg-warning rotate-bubble"></div>
            <div class="bubble bubble-4 bubble-top-left bg-info rotate-bubble"></div>
            <div class="bubble bubble-5 bg-info rotate-bubble"></div>
            <div class="bubble bubble-6 bubble-bottom-right bg-danger rotate-bubble"></div>
            <div class="bubble bubble-7 bubble-top-right bg-success rotate-bubble"></div>
            <div class="bubble bubble-8 bubble-top-left bg-success rotate-bubble"></div>
            <div class="bubble bubble-9 bg-warning rotate-bubble"></div>
            <div class="bubble bubble-10 bg-danger rotate-bubble"></div>
            <div class="bubble bubble-11 bubble-bottom-right bg-info rotate-bubble"></div>
            <div class="bubble bubble-12 bubble-top-right bg-success rotate-bubble"></div>
            <div class="bubble bubble-13 bubble-top-left bg-success rotate-bubble"></div>
            <!--         circles -->
            <div class="circle circle-1 bg-light rotate-circle"></div>
            <div class="circle circle-2 bg-success rotate-circle"></div>
            <div class="circle circle-3 bg-danger rotate-circle"></div>
            <div class="circle circle-4 bg-info rotate-circle"></div>
            <div class="circle circle-5 bg-success rotate-circle"></div>
            <div class="circle circle-6 bg-info rotate-circle"></div>
            <div class="circle circle-7 bg-warning rotate-circle"></div>
            <div class="circle circle-8 bg-white rotate-circle"></div>
            <div class="circle circle-9 bg-warning rotate-circle"></div>
            <div class="circle circle-10 bg-danger rotate-circle"></div>

    
        <div class="container-fluid py-0 offset-md-2">
            <div class="section">
                <div class="row">
                    <div class="col-md-4">
                        <div class="component">
                            <div class="card">
                                <div class="card-body">
                                    <span class="badge badge-info">RSA Encryption</span>
                                    <h4 class="card-title"> Rivest-Shamir- Adleman</h4>
                                    <p class="card-text text-dark">If you need to protect sensitive data from key theft.</p>
                                </div>
                                <div class="card-footer">
                                    <a href="rsahome" class="btn btn-success">RSA Encryption</a>
                                </div>
                            </div>
                        </div>
                    </div>
                
                    <div class="col-md-4">
                        <div class="component">
                            <div class="card">
                                <div class="card-body">
                                    <span class="badge badge-info">AES Encryption</span>
                                    <h4 class="card-title">Advanced Encryption Standard</h4>
                                    <p class="card-text text-dark">If you need to encrypt data quickly and efficiently. </p>
                                </div>
                                <div class="card-footer">
                                    <a href="aeshome" class="btn btn-success">AES Encryption</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    
    
    </div>
</div>
{% endblock %}